@import url(main.css);
body{
        background:none;
}

a {
	color:#fff;
	text-decoration:none;
}

a:visited{
	color:#fff;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

#wrapper {
	background-color:#ffffff;
}
#header {
	top:0;
	left:0;
	position: absolute;
	margin-left:0;
	width:100%;
	height:80px;
	background-color: #2e4872;
	padding-top:20px;
	z-index:5;
}

.logo {
	position:absolute;
	font-size:24pt;
	left:50%;
	margin-left:-70px;
}

.tagLine{
	position:absolute;
	margin-left:-145px;
	font-size:10pt;
	left:50%;
	z-index:10;
	top:60px;
}

.left {
	position:absolute;
	left:15%;
	margin-left:0;
	top: 50px;
	font-size:12pt;
	display: inline-block;
}

.left #second {
	padding-left:20px;
}

.right {
	right:15%;
	margin-left:0;
	position:absolute;
	font-size:12pt;
	top:50px;
	
}

#banner{
        margin: auto;
        position: absolute;
        top: 100px; left: 50%;
		height:150px;
		z-index:2;
}
#banner .overlay{
        position: relative;
        width:1200px;
        height:100%;
        margin-left:-600px;
        background-color:#0e1c31;
        opacity:0.65;
        z-index:4;
        margin-top:-316px;
}
#banner img {
        position:relative;
        margin-left:-600px;
	z-index:3;
}
#banner .course{
        position:relative;
        color:#fff;
        font-size:26pt;
        z-index:5;
        margin-left:-550px;
        top:-120px;
}
#cards{
        position:absolute;
        top:250px;
        width:1200px;
        height:100%;
        left:50%;
        margin-left:-600px;
        z-index:5;
        background-color:#fff;
}

.card{
        position:relative;
        width:100%;
        display:inline-block;
}
.cardLabel{
        position:relative;
        width:100%;
        display:inline-block;
        background-color:#6a717d;
        padding-top:10px;
        padding-bottom:10px;
        height:auto;
        font-weight:700;
        color:#FFF;
        font-size:10pt;
}
.cardLabel span{
        margin-left:43%;
}


.card .level{
        position:relative;
        font-weight:700;
        font-size:10pt;
        color:#2c3036;
        left:-70pt;
        top:26pt;
}
.card .level img{
        top:10px;
        position:relative;
        margin-right:5px;
}
.card .table{
        position:relative;
        width:80%;
        left:13%;
        margin-bottom:50px;
}
.card .legend{
        position:relative;
        text-transform: uppercase;
        font-weight:700;
        font-size:8pt;
        color:#858585;
        width:100%;
        top:20pt;
}
.card .code{
        margin-left:10px;
}
.card .title{
        margin-left:80px;
        margin-top:-8pt;
}
.card .rating{
        margin-left:890px;
        margin-top:-8pt;      
}

.card .entries{
        position:relative;    
        top:5pt;
}
.card .entry{
        width:100%;      
}
.card .modCode{
        position:relative;
        text-transform: uppercase;
        font-size:10pt;
        top:12pt;
        font-weight:300;
        color:#858585;
}
.card .modTitle{
        position:relative;
        font-size:12pt;
        margin-left:80px;

        margin-top:-10pt;
        color:#2e4872;
        font-weight:700;
}
.card .modRating{
        width:auto;
        position:relative;
        right:0;
        top:-4pt;
        margin-top:-12pt;
        font-size:12pt;
        margin-left:925px;
        border-radius:5px;
        border:2px solid #95c254;
        padding:5px;
}


.meta-course {
        max-width: 140px;
}