body,html {
    font-size: 13px;
    height:100%;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight:500;
}

body {
    background-color: #efefef;
}

    body.home  {
        background: url('../images/trent-greyscale.jpg') no-repeat center center;
        background-size: cover;
    }

a, a:active, a:visited {
    color: #246;
    text-decoration: none;
}

.float-right { float: right; }
.clear-both { clear: both; }
.hidden {display: none; }
.module-code {
    font-family: monospace;
}



/*///////////////////////////////////////////////////////////////////*/
#wrapper {
    min-height: 100%;
    overflow: hidden;
}

    .home #wrapper {
        background-color: rgba(34,68,102, 0.9);    
    }

    #depts, #semesters, #mod-info, #mod-reviews {
        margin-bottom: 40px;
    }

/*///////////////////////////////////////////////////////////////////*/

#header, #footer  {
    font-size: 12px;
    color: #f8f8f8;
    background-color: #246;
    padding: 10px 0;
}

    #header #logo,
    #header #logo a,
    #header #logo a:hover,
    #header #logo a:active,
    #header #logo a:visited 
     {
        text-decoration: none;
        text-align: center;
        font-family: Signika, Helvetica, Arial, sans-serif;
        color:#ccdce8;
    }

    #header #logo h1 {
        font-size: 35px;
        margin: 0;
    }

    #header #logo .subtitle {
        color: #9cd;
        font-size: 12px;
    }


    .home #header {
        background-color: transparent;
        margin-top: 80px;
    }

    .home #header #logo  h1 {
        font-size: 55px;
    }

    .home #header #logo .subtitle {
        font-size: 13px;
    }
#footer { 
    padding: 20px 0;

}   
    .notts-logo {
        text-align: right;
    }


/*///////////////////////////////////////////////////////////////////*/

.nav-header {
    margin-top: 20px;
}
    .nav-header ul, .nav-footer ul {
        margin: 0; padding: 0;
        list-style-type: none;
    }
    .nav-header a,
    .nav-header a:active,
    .nav-header a:visited,
    .nav-footer a,
    .nav-footer a:active,
    .nav-footer a:visited {
        color: #ccc;
        font-weight: bold;
        display: block;
        padding: 0 5px;
    }
    .nav-header a:hover,
    .nav-footer a:hover {
        color: #fff;
        font-weight: bold;
        display: block;
        padding: 0 5px;
    }

    .nav-header ul li,
    .nav-footer ul li {
        display: inline-block;
    }

    .nav-header-right { text-align: right; }

    .nav-header-right li:last-child a { padding-right: 0; }
    .nav-header-left li:first-child a { padding-left: 0; }

    .home .nav-header{
        margin-top: 50px;
    }
    .home .nav-header .nav-link-search {
        visibility: hidden;
        height: 1px;
        display: none;
    }

/*///////////////////////////////////////////////////////////////////*/
#content {
    margin-top: 90px;
}

/*///////////////////////////////////////////////////////////////////*/
#omni-search {
}
    #omni-search .form-group {
        display: block;
        background-color: #fff;
        border-radius: 3px;
        overflow: hidden;
    }
    #omni-search input,
    #omni-search select { 
        font-size: 12px;
        line-height: 1.65em;
        outline: 0 none;
        border: 0 none;
        border-radius: 0px;
        float: left;
    }

    #omni-search input[name=search]::-webkit-input-placeholder {
        font-size: 12px;
    }

    #omni-search input[name=search] {
        font-size: 16px;
        padding: 10px 5px 5px 10px;
        height: 40px;
        border-right: 1px solid #efefef;
        width: 68%;
    }

    #omni-search select {
        text-align: center;
        color: #666;
        padding: 15px 5px 10px 20px;
        font-weight: bold;
        width: 12%;
        height: 31px;
        background: url(../images/arrow.png) no-repeat right center;
        -webkit-appearance: none;
    }

    #omni-search button {
        color: #fff;
        padding: 15px;
        font-size: 15px;
        font-weight: bold;
        border: 0 none;
        background-color: #4b6;
        height: 26px;
        width: 9%;
        float: right;
    }

    #omni-search #legend {
        clear: both;
    }

    #legend {
        font-size: 11px;
        font-weight: bold;
        color: #9cd;
    }
    #omni-search #legend label { 
        padding: 5px;
        display: inline-block;
    }

    #omni-search #legend label#lbl-keyword {
        width: 68%;
    }

/*///////////////////////////////////////////////////////////////////*/
.rating,
.share-button {
    display: inline-block;
    text-align: center;
}
    .rating-value {
        color: #626a75;
        margin: 0 auto;
        font-weight: 500;
        padding: 5px;
        width: 30px;
        text-align: center;
        font-size: 21px;
        font-family: Signika, Helvetica, Arial, sans-serif;
        line-height: 1.5em;
        border-radius: 3px;
        border: 2px solid #626a75;
        background-color: #fff;
    }

    .rating-label {
        margin-top: 7px;
        font-size: 11px;
        font-weight: bold;
        display: inline-block;
    }

    .rating-high .rating-value{
        color: #6c4;
        border-color: #6c4;
    }
    .rating-medium .rating-value{
        color: #f93;
        border-color: #f93;
    }
    .rating-low .rating-value{
        color: #d67;
        border-color: #d67;
    }

    .rating-small .rating-value {
        font-size: 16px;
    }
    .rating-large .rating-value {
        font-size: 30px;
        width: 60px;
    }

/*///////////////////////////////////////////////////////////////////*/
#masthead{
    color: #f8f8f8;
    position: relative;
    overflow: hidden;
    padding: 10px 0 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}   
    #masthead h2 {
        font-size: 28px;
        font-weight: 500;
        margin-top: 10px;
    }

    #masthead .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background-color: rgba(16,39,62, 0.75);
    }

    #masthead .card {
        text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    }

    #masthead ul.meta {
        font-size: 12px;
        margin: 0; padding: 0;
        list-style: none;
    }

    #masthead ul.meta li {
        display: inline-block;
        padding: 0px 10px;
        border-left: 1px solid rgba(200,200,200, 0.3);
    }

    #masthead ul.meta li:first-child {
        padding-left: 0; border-left: 0 none;
    }

    #masthead .meta .meta-module-code {
        font-family: monospace;
        font-style: 13px;
    }

    #masthead .rating {
        margin-top: 10px;
        float: right;
    }

    #masthead .rating .rating-value {
        background-color: rgba(0,0,0,0.4);
    }
    .depts #masthead {
        background-position: center -60px;
    }
/*///////////////////////////////////////////////////////////////////*/

#mod-info {
    padding: 10px 0 40px;
    margin-bottom: 30px;
    background-color: #fff;
    color: #2c3036;
    box-shadow: 0 -8px 5px -5px rgba(0,0,0,0.6);

        /* force to be displayed on top of the masthead
           - for the drop-shdow to be visible*/
        position: relative;
        z-index: 2;
}
    #mod-info.less-info {
        overflow: hidden;
        height: 220px;
    }

    #mod-info.less-info .element{
        position: relative;
        z-index: 0;
    }

    .element h3 {
        color: #626a76;
        font-size: 11px;
        text-transform: uppercase;
    }

    .element h3 span {
        color: #2c3036;
        font-size: 13px;
        font-weight: 500;
        text-transform: none;
    }

    .element table {
        width: 100%;
    }

    .element table tr {
        background-color: #f3f4f6;
        border-bottom: 2px solid #fff;
    }

    .element table td {
        padding: 5px;
        margin-bottom: 10px;
    }

    #module-info-toggle {
        font-weight: bold;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 25px 0 10px;
        
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 15%, rgba(255,255,255,1) 66%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(15%,rgba(255,255,255,0)), color-stop(66%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 15%,rgba(255,255,255,1) 66%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 15%,rgba(255,255,255,1) 66%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 15%,rgba(255,255,255,1) 66%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 15%,rgba(255,255,255,1) 66%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }

    #module-info-toggle:hover {
        background-color: rgba(255,255,255,1);
    }
    .meta-course {
            max-width: 140px;
    }
/*///////////////////////////////////////////////////////////////////*/
#semesters {
}   main {
        position: relative;
        overflow: hidden;
        height: 100%;
        display: block;
    }
    nav {
        height: 100%;
        overflow: auto;
    }

    .sem-title {
        font-size: 13px;
        color: #fff;
        font-weight: bold;
        background-color: rgba(106,113,123,0.9);
        padding: 10px 0;
        text-align: center;
        width: 110%;
        margin-left: -5%;
        box-shadow: 0 -8px 5px -5px rgba(0,0,0,0.6);

        /* force to be displayed on top of the masthead
           - for the drop-shdow to be visible*/
        position: relative;
        z-index: 1;
    }

    .sem-title a  {
        color: #efefef;
    }

    .sem-spring .sem-title,
    .sem-full-year .sem-title {
        margin-top: 50px;
    }

    .legend { 
        font-size: 10px;
        text-transform: uppercase;
        color: #777;
        font-weight: bold;
        margin-top: 30px; 
        overflow: hidden;
    }

    .legend .avg-rating { text-align: right; }

    .sem-level { }

    .sem-level h4 { 
        color: #626a75;
        margin: 20px 0 0;
        padding: 5px 0 0 20px;
        min-height: 30px;
        background: transparent url('../images/ribbon.png') no-repeat left top;
    }

    .sem-modules {
        overflow: hidden;
        background-color: #fff;
        margin: 15px 0;
        box-shadow: 0px 0px 1px 2px rgba(150,150,150,0.1);
        border-radius: 1px;

    }

    .sem-modules ul { list-style-type: none; margin: 0; padding: 0; }
    .sem-modules ul li { 
        padding: 10px 0; 
        overflow: hidden; 
        clear: both;
        border-bottom: 1px solid #e7e7e7;
    }
    .sem-modules ul li:hover {
        background-color: #F2F5F7;   
    }

    .sem-modules ul li > .module-title,
    .sem-modules ul li > .module-code { 
        padding-top: 10px;
    }

    .sem-modules ul li:last-child { border: 0 none; }

    .sem-modules .module-title { 
        font-size: 14px;
        font-weight: bold;
    }

    
/*///////////////////////////////////////////////////////////////////*/
#mod-reviews {
    color: #626a75;
}   
    #mod-reviews .rating-value {
        background-color: transparent;
    }

    .share-experience .rating-value {
        border-style: dotted;
    }

    .reviews-matrix  {
        border-top: 1px solid #e0e0e0;
        margin-top: 20px;
        padding-top: 30px;
    }
    .reviews-matrix ul {
        list-style: none;
        margin: 0; padding: 0;
    }

    .reviews-matrix ul li {
        margin: 10px 0;
    }

    .review-item {
        overflow: hidden;
        padding-top: 10px;
        background-color: #fff;
        box-shadow: 0px 0px 1px 2px rgba(150,150,150,0.1);
        border-radius: 2px;
    }

    .review-title, .review-content, .review-meta, .review-rating {
        padding: 0 10px 10px;
    }

    .review-item h4 { margin: 0; color: #333; } 

    .review-content {
        font-size: 12px;
        line-height: 1.4em;
        margin-bottom: 20px;
    }

    .review-meta {
        font-size: 11px;
        float: left;
    }

    .review-rating {
        float: right;
    }

    .review-item-video .review-content,
    .review-item-image .review-content {
        padding: 0;
    }

    .review-item-image .review-content a.review-image-thumb,
    .review-item-video .review-content a.review-video-thumb {
        display: block;
        height: 140px;
        width: 100%;
        background: no-repeat center;
        background-size: cover;
    }

/*///////////////////////////////////////////////////////////////////////*/
.pagination {
    margin-top: 30px;
    text-align: center;
    padding: 0 0 20px;
}
    .pagination ul {
        list-style: none;
        margin: 0; padding: 0;
    }
    .pagination ul li {
        display: inline-block;
    }

    .pagination .page-item a,
    .pagination .page-item a:visited,
    .pagination .page-item a:active {
        font-weight: bold;
        color: #f8f8f8;
        background-color: #747e87;
        padding: 6px 10px;
        border-radius: 2px;
    }

    .pagination .page-item a:hover {
     background-color: #10273e;
    }
    .image-modal .modal-body {
        text-align: center;
    }
/*///////////////////////////////////////////////////////////////////////*/
#depts {
    margin-top: 30px;
}   
    .depts-item {
        border-bottom: 1px solid #efefef;
        border-right: 1px solid #efefef;
    }
    .depts-item a {
        background-color: #fff;
        display: block;
        padding: 10px;
    }


/*///////////////////////////////////////////////////////////////////////*/
.nav-tabs {
    height: 39px;
    margin-bottom: 20px;
}

.tab-pane input, .tab-pane textarea {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.credits {
    color: #9cd;
    .ui-menu .ui-menu-item a.ui-state-focus,
    .ui-menu .ui-menu-item a.ui-state-activex;
    padding-left: 5px;
    font-size: 11px;
}



/*///////////////////////////////////////////////////////////////////////*/

#omni-search .ui-helper-hidden-accessible {
    display: none;
}

.ui-autocomplete {
    max-height: 150px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }

.ui-autocomplete.ui-widget-content {
    font-size: 12px;
    list-style: none;
    margin: 0; padding: 0;
    width: 480px;
    border-radius: 0 0 3px 3px;
    background-color: #efefef;
}

.ui-autocomplete.ui-widget-content li {
    clear: both;
}

.ui-menu .ui-menu-item a {
    display: block;
    background-color: #f8f8f8;
    padding: 10px 5px;
    border-bottom: 1px solid #e0e0e0;
}

.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
    background-color: #f0f0f0;
}

.ui-menu-item  span.item-label {
    float: right;
    font-size: 11px;
    font-weight: bold;
    border-radius: 2px;
    background-color: #fff;
    display: inline-block;
    padding: 2px 4px;
}

.ui-menu-item  span.module-code {
    display: inline-block;
    padding-right: 10px;
}

.ui-menu-item  span.item-label-School {
    background-color: #ebe8d0;
}

.ui-menu-item span.item-label-Module {
    background-color: #cee4d0;
}




/*///////////////////////////////////////////////////////////////////////*/
/*BOOTSTRAP FIX*/
*,
*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

a.intro-video,
a.intro-video:visited,
a.intro-video:active {
    font-weight: bold;
    text-decoration: none;
    color: #efefef;
    display: inline-block;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
}

a.intro-video:hover { 
text-decoration: none;}

.intro-video img  {
    width: 170px;
    height: auto;
    border-radius: 5px;
    border: 3px solid white;
}

.dragdealer {
    border-radius: 2px;
    margin-bottom: 10px;
}

.dragdealer span.value {
    font-weight: bold;
}

.dragdealer .handle { 
    border-radius: 2px;
    width: 100px;
    height: 30px;
    background: #626a75;
    color: #FFF;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
}

