@import url(main.css);
@import url(course.css);

p{
	line-height: normal;
}

#banner{
	height:200px;
}
#banner .course{
	top:-170px;
}	

#rating{
	position:relative;
	z-index:10;
	top:-235px;
	left:70%;
}

#rating h1{
	padding:30px;
	padding-top:20px;
	padding-bottom:20px;
	color:#d0707e;
	font-size:24pt;
	background-color:#2e3238;
	border:2px solid #d0707e;
	display:inline-block; 
	border-radius:2px;
	border-radius:2px;
	-moz-border-radius:2px 2px 2px 2px;
	-webkit-border-radius:2px 2px 2px 2px;
}
#rating h2{
position:relative;
	color:#d6dae0;
	font-size: 12pt;
	display:inline-block; 
	margin-left:-102px;
	font-weight:500;
	top:50px;
}
.modInfo {
	font-size: 12pt;
	position:relative;
	list-style-type:none;
	margin:0;
	padding:0;
	z-index:10;
	color:#fff;
	margin-left:-550px;
	top:-150px;
	color:#d6dae0;
}
.modInfo li.fst{
	border-left:none;
	padding:0;
}

.modInfo li {
	display:inline;
	border-left:2px solid #373b41;
	padding-left:5px;
}

.modInfo strong{
	font-weight:600;
}

.tabs {
	position:relative;
	font-size: 10pt;
	list-style-type:none;
	margin:0;
	padding:0;
	z-index:10;
	color:#626a76;
	font-weight:500;
	margin-left:-550px;
	top:-120px;
}
a:hover{
	text-decoration:none;
}
.tabs a li {
	color:#626a76;
	display:inline;
	border-left:2px solid #373b41;
	background-color:#fff;
	border:none;
	padding:10px;
	padding-left:15px;
	padding-right:15px;
	top-left-border-radius:2px;
	top-right-border-radius:2px;
	-moz-border-radius:0 0 0 2px;
	-webkit-border-radius:2px 2px 0 0;
}
.tabs a:hover li {
	text-decoration:none;
}
.tabs a li.inactive{
	background-color:#c4ccd6;
}

.modcontent {
	position:relative;
	background-color:#fff;
	height:100%;
	font-size:60pt;
	z-index:6;
	width:1200px;
	left:50%;
	margin-left:-600px;
	top:250px;
}
.modcontent .element{
	margin-bottom:30px;
}

.modcontent .left {
	position:relative;
	color:#2c3036;
	width:540px;
	margin-left:-180px;
	top:20px;
	
}

.modcontent .right{
	border-left:1px solid #eff0f3;
	position:relative;
	color:#2c3036;
	width:630px;
	padding-left:15px;
	margin-left:740px;
	top:-549px;
	padding-bottom:50px;
}

.modcontent .spacer{
	padding-top:25px;
}
.modcontent p.spaced {
	margin-top:7.5px;
}
.modcontent h3 {
	color:#626a76;
	text-transform: uppercase;
	font-weight:500;
}
.modcontent h3 span {
	color:#626a76;
	text-transform: none;
	font-weight:300;
}
.modcontent p {
	padding-right:15px;
	margin-top:5px;
}

.modcontent .table{
	margin-top:5px;
	position:relative;
}
.modcontent .table ul{
	list-style-type:none;
	background-color:#f3f4f6;
	padding:5px;
	margin-right:15px;
}
.modcontent .table li{
	display:inline-block;
	position:relative;
	
}
.modcontent .table li.col2{
	position:absolute;
	left:165px;
	top:5px;
}
.modcontent .table li.col3{
	position:absolute;
	left:320px;
	top:5px;
}
.modcontent .table li.col4{
	position:absolute;
	left:475px;
	top:5px;
}
.modcontent .table strong{
	font-weight:500;
}

.modcontent .element p strong {
	color:#626a76;
	font-weight:500;
}

#featured{
	position:absolute;
	width:100%;
	background-color:#f8f8f8;
	z-index:10;
}
#featured .title{
	position:relative;
	left:50%;
	margin-left:-600px;
	width:1200px;
	font-weight:500;
	color:#626a76;
	padding-top:15px;
	padding-bottom:15px;
}
#featured #ratingsMatrix {
	position:relative;
	font-weight:500;
	padding-top:15px;
	padding-bottom:15px;
	border-top:1px solid #eff0f3;
	border-bottom:1px solid #eff0f3;
	left:50%;
	margin-left:-600px;
	width:1200px;
}

.metric {
	position:relative;
	margin-bottom:20px;
	display:inline-block;

}

.metric h1{
	position:relative;
	padding:30px;
	padding-top:20px;
	padding-bottom:20px;
	color:#d0707e;
	font-size:24pt;
	border:2px solid #d0707e;
	display:inline-block; 
	border-radius:2px;
	border-radius:2px;
	-moz-border-radius:2px 2px 2px 2px;
	-webkit-border-radius:2px 2px 2px 2px;
}
.metric h2{
	position:relative;
	color:#626a76;
	font-size: 12pt;
	display:inline-block; 
	left:-52%;
	font-weight:500;
	top:50px;
}
